$blueBright: hsl(220, 98%, 61%);
$gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// light theme
$grayLight: hsl(0, 0%, 98%);
$blueLight: hsl(236, 33%, 92%);
$blueGray: hsl(236, 9%, 61%);
$gray: hsl(235, 19%, 35%);

// dark theme
$dark: hsl(235, 21%, 11%);
$blueDesaturated: hsl(235, 24%, 19%);
$blueGrayish: hsl(234, 39%, 85%);
$blueGrayLight: hsl(236, 33%, 92%);
$blueGrayDark: hsl(234, 11%, 52%);
$blueGrayish: hsl(233, 14%, 35%);